<p id="new-user-email-address-visibility" class="registration-form-hint">
    <input type="hidden" name="email_address_visibility" value="{{ default_email_address_visibility }}" id="email_address_visibility"/>
    <span class="current-selected-option">
        {% if default_email_address_visibility == email_address_visibility_admins_only %}
            Administratorzy SafeChat będą mogli zobaczyć ten adres e-mail.
        {% elif default_email_address_visibility == email_address_visibility_moderators %}
            Administratorzy i moderatorzy SafeChat będą mogli zobaczyć ten adres e-mail.
        {% elif default_email_address_visibility == email_address_visibility_nobody %}
            Nikt w SafeChat nie będzie mógł zobaczyć tego adresu e-mail.
        {% else %}
            Inni użytkownicy SafeChat będą mogli zobaczyć ten adres e-mail.
        {% endif %}
    </span>
    <a target="_blank" class="change_email_address_visibility" rel="noopener noreferrer">{{ _('Change') }}</a>
</p>
